@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-family: 'Jost', sans-serif;
}
body {
    background: #333;
    text-decoration: none;
}

.nav {
    width: 100%;
   
    background-color: #f1f1f1;
    position: fixed;
    transition: all 0.3s ease-out;
    text-decoration: none;
}
.liste {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.item {
    width: 130px;
    height: 30px;
    border-radius: 2%;
    margin: 1 1px;
    font-size: 22px;
    text-decoration: none;
    color:#333;
    text-align: center;
    background-color: #f1f1f1;
}
.i1 {
    color:#008ACC;
    background-image: linear-gradient(transparent calc(50% - 4px), #008ACC calc(10% - 9px), #008ACC);
    transition: background-position 120ms ease-in-out 0.3s, padding 120ms ease-in-out 0s;
    background-size: 100% 200%;
    background-position: 0px 0px;
}
#titre-page {
    text-align: center;
    padding: 70px 0;
    border-color: #f1f1f1;
    font-size: 80px;
    line-height: 1;
    -webkit-text-stroke: 3px #FF8C00;
    color: transparent;
    margin-left: 50px;
    background-clip: text;
    -webkit-background-clip: text;
}
.box-timeline {
    width: 100%;
    height: 1600px;
    background: #f1f1f1;
    position: relative;
    padding: 80px 0 250px 0;
    margin-bottom: 100px;
}
.ligne {
    height: 1050px;
    width: 8px;
    margin: 0 auto;
    background: #333;
}
.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #FFA333;
    position: absolute;
    border: 28px solid #333;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
/**/
.r1{top: 80px;}
.r2{top: 274px;}
.r3{top: 468px;}
.r4{top: 662px;}
.r5{top: 856px;}
.r6{top: 1050px;}

.box {
    color: #333;
    width: 300px;
    min-height: 200px;
    padding: 15px;
    border-radius: 20px;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.b1 {
    top: 80px;
    left: calc(50% - 270px);
}
.b2 {
    top: 274px;
    left: calc(50% + 270px);
}
.b3 {
    top: 468px;
    left: calc(50% - 270px);
}
.b4 {
    top: 662px;
    left: calc(50% + 270px);
}
.b5 {
    top: 856px;
    left: calc(50% - 270px);
}
.b6 {
    top: 1050px;
    left: calc(50% + 270px);
}

.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.btn {
    position:relative;
    display: block;
    background: #008ACC;
    padding: 15px;
    width: 120px;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 3px;
    margin:10% auto 0;
    margin-top: 10px;

}





@media screen and (max-width: 1000px) {

    .ligne {
        position: relative;
        left: 200px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 50px);
    }
}
